/* main-form.css */

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    width: 100%;
}

.main-form-header {
    font-size: 20px;
    padding: 20px;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-card-header {
    background-color: rgb(221, 184, 136);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    cursor: pointer;
}