/* preview.css */

/* for scrolling */

.preview-wrap {
    position: sticky;
    top: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.preview-wrap > button {
    width: 30%;
}

.preview-container {
    height: 100vh;
    overflow-y: auto;
    min-width: 210mm;
    flex-shrink: 0; /* prevents it from shrinking when window small */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.preview {
    background-color: white;
    padding: 40px;
    /* A4 size */
    width: 210mm;
    min-height: 297mm;

    display: flex;
    flex-direction: column;
}

/* Personal */

.preview-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.preview-personal-links {
    white-space: nowrap;
    font-size: 15px;
    color: rgb(78, 77, 77);
}
a {
    color: rgb(78, 77, 77);
}

/* Education */

.preview-education {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.preview-education > h2 {
    font-size: 30px;
    color: rgb(78, 77, 77);
    border-bottom: 2px rgb(78, 77, 77) solid;
}
.edu-detail > span, .edu-date {
    color: rgb(78, 77, 77);
}

.preview-education-entry {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Experience */

.preview-experience {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.preview-experience > h2 {
    font-size: 30px;
    color: rgb(78, 77, 77);
    border-bottom: 2px rgb(78, 77, 77) solid;
}

.exp-detail {
    display: flex;
    gap: 10px;
    align-items: center;
}

.exp-wrapper {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp-detail > span, .exp-date {
    color: rgb(78, 77, 77);
}

/* Project */

.preview-project {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.preview-project > h2 {
    font-size: 30px;
    color: rgb(78, 77, 77);
    border-bottom: 2px rgb(78, 77, 77) solid;
}

.pro-detail {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pro-wrapper {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-project-entry {
    margin: 10px 0px 10px 0px;
}

.pro-detail > span {
    color: rgb(78, 77, 77);
}

.p-name {
    font-size: 20px;
    font-weight: 900;
}
.preview-project-entry > p {
    margin: 5px 0px 5px 0px;
}

/* Skill */


.preview-skill {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.preview-skill > h2 {
    font-size: 30px;
    color: rgb(78, 77, 77);
    border-bottom: 2px rgb(78, 77, 77) solid;
}
.ski-detail > span {
    color: rgb(78, 77, 77);
}

.preview-skill-entry {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ski-detail {
    display: flex;
    align-items: center;
    gap: 5px;
}